<div class="container-fluid">


   <div class="card shadow mb-4">
      <div class="card-header py-3">
         <h6 class="m-0 font-weight-bold text-primary">DANH SÁCH ẢNH KHÁC</h6>
      </div>
      <div class="card-body">

         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="margin-bottom: 15px;">
            Thêm mới
         </button>

         <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0" id="dtBasicExample">
               <thead>
                  <tr>
                     <th>STT</th>
                     <th>Tên</th>

                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let item of myResult | paginate: { itemsPerPage: 3, currentPage: p }; let i = index" (click)="getDetail(item.id)">
                     <td>{{ i + 1 }}</td>
                     <!-- <td>{{ item.name_img }}</td> -->
                     <td>{{ item.name_img }}</td>

                     <td>
                        <button (click)="getDetail(item.id)" type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModaldetails" style="margin-right: 10px;">
                           Chi tiết
                        </button>
                        <button (click)="getDetail(item.id)" type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModaledit" style="margin-right: 10px;">
                           Sửa
                        </button>
                        <button (click)="confirmDelete(item.id)" type="button" class="btn btn-danger">Xóa</button>
                     </td>
                  </tr>
               </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>

         </div>
         <a href="/newArtile" class="btn btn-secondary" style="margin-left: 45%;">Quay lại</a>
      </div>
   </div>
</div>

<!-- Thêm mới -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Thêm mới ảnh</h5>
            <button id="close-form" type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form (ngSubmit)="create()">

               <div class="form-group">
                  <label for="" class="col-form-label">Tên ảnh</label>
                  <input type="text" class="form-control" [(ngModel)]="formData.name_img" name="name_img" required>
               </div>
               <div class="form-group">
                  <label for="" class="col-form-label">Mã bài viết</label>
                  <input type="text" class="form-control" [(ngModel)]="formData.NEW_ID" name="new_ID" disabled="true">
               </div>

               <div class="form-group">
                  <label for="" class="col-form-label">Ảnh</label>
                  <img class="img-input" src="{{formData.image}}" alt="">
                  <p-fileUpload mode="basic" [(ngModel)]="formData.image" name="image" accept="image/*" (onUpload)="onUpload($event)" url="https://www.primefaces.org/cdn/api/upload.php" [auto]="true" chooselabel="Browse" id="upload"></p-fileUpload>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                  <button type="submit" class="btn btn-primary">Thêm ảnh</button>
               </div>
            </form>

         </div>
      </div>
   </div>
</div>
<!-- ================================================================ -->
<!-- sửa -->
<div class="modal fade" id="exampleModaledit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-edit" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-edit">Sửa thông tin ảnh</h5>
            <button id="close-form-edit" type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form (ngSubmit)="confirmEdit()">
               <div class="form-group">
                  <label for="" class="col-form-label">Tên ảnh</label>
                  <input type="text" class="form-control" [(ngModel)]="formData.name_img" name="name_img" required>
               </div>
               <div class="form-group">
                  <label for="" class="col-form-label">Mã bài viết</label>
                  <input type="text" class="form-control" [(ngModel)]="formData.new_ID" name="new_ID" required>
               </div>
               <div class="form-group">
                  <label for="" class="col-form-label">Ngày tạo</label>
                  <input type="text" class="form-control" value=" {{formData.dated | date : 'dd/MM/yyyy'}}" name="dated" required>
               </div>
               <div class="form-group">
                  <label for="" class="col-form-label">Ảnh</label>
                  <img class="img-input" src="{{formData.image}}" alt="">
                  <ng-container *ngIf="!formData.image">
                     <p-fileUpload mode="basic" [(ngModel)]="formData.image" name="image" accept="image/*" (onUpload)="onUpload($event)" url="https://www.primefaces.org/cdn/api/upload.php" [auto]="true" chooselabel="Browse"></p-fileUpload>
                  </ng-container>
                  <ng-container *ngIf="formData.image">
                     <button class="btn btn-danger" (click)="deleteImage()" style="margin-top: 15px; margin-left: 45%;">Xóa ảnh</button>
                  </ng-container>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                  <button type="submit" class="btn btn-primary">Cập nhật</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- ================================================================ -->
<!-- ================================================================ -->
<!-- chi tiết -->
   <div class="modal fade" id="exampleModaldetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-edit" aria-hidden="true"> <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-edit">Thông tin ảnh</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form (ngSubmit)="confirmEdit()">
               <div class="form-group">
                  <label for="" class="col-form-label">Tên ảnh</label>
                  <input type="text" class="form-control" [(ngModel)]="formData.name_img" name="name_img" readonly>
               </div>
               <div class="form-group">
                  <label for="" class="col-form-label">Mã bài viết</label>
                  <input type="text" class="form-control" [(ngModel)]="formData.new_ID" name="new_ID" readonly>
               </div>
               <div class="form-group">
                  <label for="" class="col-form-label">Ngày tạo</label>
                  <input type="text" class="form-control" value=" {{formData.dated | date : 'dd/MM/yyyy'}}" name="dated" readonly>
               </div>
               <div class="form-group">
                  <label for="" class="col-form-label">Ảnh</label>
                  <img class="img-input" src="{{formData.image}}" alt="#">
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- ================================================================ -->
