<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DANH SÁCH BRAND</h6>
    </div>
    <div class="card-body">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="margin-bottom: 15px;">
        Thêm mới
      </button>

      <div class="table-responsive">
        <table class="table table-bordered"   width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>STT</th>
              <th>Tên menu</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of myResult; let i = index" (click)="getDatabyID(item.id)">
              <td>{{ i + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>
                <button (click)="getDatabyID(item.id)" type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModaldetails" style="margin-right: 10px;">
                  Chi tiết
                </button>
                <button (click)="getDatabyID(item.id)" type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModaledit" style="margin-right: 10px;">
                  Sửa
                </button>
                <button (click)="confirmDelete(item.id)" type="button" class="btn btn-danger">Xóa</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

<!-- Thêm mới -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm mới slider</h5>
        <button id="close-form" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="Create()">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Tên slider</label>
            <input type="text" class="form-control" [(ngModel)]="formData.name" name="name" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Ảnh</label>
            <img class="img-input" src="{{formData.image}}" alt="">
            <p-fileUpload mode="basic" [(ngModel)]="formData.image" name="image" accept="image/*" (onUpload)="onUpload($event)" url="https://www.primefaces.org/cdn/api/upload.php" [auto]="true" chooselabel="Browse" id="upload"></p-fileUpload>

          </div>

          <div class="form-group">
            <label for="content" class="col-form-label">Nội dung</label>
            <p-editor [(ngModel)]="formData.content" name="content" [style]="{ height: '350px' }"></p-editor>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-primary">Thêm mới</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ================================================================ -->
<!-- sửa -->
<div class="modal fade" id="exampleModaledit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-edit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-edit">Thông tin Slider</h5>
        <button id="close-form-edit" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="confirmUpdate()">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Tên slider</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="formData.name" name="name" required>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Ảnh</label>
            <img class="img-input" src="{{formData.image}}" alt="">
            <ng-container *ngIf="!formData.image">
               <p-fileUpload mode="basic" [(ngModel)]="formData.image" name="image" accept="image/*" (onUpload)="onUpload($event)" url="https://www.primefaces.org/cdn/api/upload.php" [auto]="true" chooselabel="Browse" id="upload"></p-fileUpload>
            </ng-container>
            <ng-container *ngIf="formData.image">
               <button class="btn btn-danger" (click)="deleteImage()" style="margin-top: 15px; margin-left: 45%;">Xóa ảnh</button>
            </ng-container>

         </div>

          <div class="form-group">
            <label for="content" class="col-form-label">Nội dung</label>
            <p-editor [(ngModel)]="formData.content" name="content" [style]="{ height: '350px' }"></p-editor>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ================================================================ -->
<div class="modal fade" id="exampleModaldetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel-edit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-edit">Thông tin Slider</h5>
        <button id="close-form-edit" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="confirmUpdate()">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Tên slider</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="formData.name" name="name" readonly>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Ảnh</label>
            <img class="img-input" src="{{formData.image}}" alt="">
          </div>
          <div class="form-group">
            <label for="dated" class="col-form-label">Ngày tạo</label>
            <input type="text" class="form-control"  value=" {{formData.dated | date : 'dd/MM/yyyy'}}" name="dated" readonly>
          </div>
          <div class="form-group">
            <label for="content" class="col-form-label">Nội dung</label>
            <p-editor [(ngModel)]="formData.content" name="content" [style]="{ height: '350px' }"></p-editor>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
