/* You can add global styles to this file, and also import other style files */
.modal-dialog{
  max-width: 1040px;
}
.modal-title{
  font-weight: bolder;
}
.img-input{
  width: 1000px;
  height: 600px;
}
#upload{
  margin: 10px 10px;
}
